<button id="test-btn" class="btn btn-primary">Test Connection</button>
<div id="join-btn" data-room="<%= @chat_room.id %>"></div>

<div id="chatroom-hook" data-chatroom-id='<%= @chat_room.id %>'></div>

<div class="call-container">
  <div id="remote-video-container">
    <div id="video_overlays">
      <video id="local-video" autoplay muted></video>
    </div>
  </div>
</div>

<div><span id="current-user" class="text-color" style="display:none"><%= current_user.id %></span></div>

<%= javascript_pack_tag 'chatrooms' %>
<%= javascript_pack_tag 'webrtc' %>



