<div id="settings-page"></div>

<% language_names = [] %>

<% @languages.each do |language| %>
  <% language_names << language.name %>
<% end %>

<% fonts = [
    "Arial",
    "Times New Roman",
    "Calibri"
  ] %>

<div class="container">
  <div class="contacts-container">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div class="settings">
          <h2>Settings</h2>
          <div>
            <%= simple_form_for(current_user, url: update_setting_path) do |t| %>
              <div>
                <div class="card card-form card-form-no-hover">
                  <%= t.label :language, class:'padding-right no-margin font-weight-normal' %>
                  <%= t.input_field :language, collection: language_names, class:'input-field-text-black input-dropdown form-control', include_blank: false %>
                </div>
                <div class="card card-form card-form-no-hover">
                  <%= t.label :caption_font, class:'padding-right no-margin font-weight-normal' %>
                  <%= t.input_field :caption_font, collection: fonts.sort, class:'input-field-text-black input-dropdown form-control' %>
                </div>
                <div class="card card-form card-form-no-hover">
                  <%= t.label :caption_font_size, class:'padding-right no-margin font-weight-normal' %>
                  <%= t.input_field :caption_font_size, class:'input-field-text-black input-dropdown form-control' %>
                </div>
                <div class="card card-form card-form-no-hover">
                  <%= t.label :enable_transcript, class:'padding-right no-margin font-weight-normal' %>
                  <label class="switch">
                    <%= t.input_field :enable_transcript, class:'input-field-text-black' %>
                    <span class="slider round"></span>
                  </label>
                </div>
                <%= t.button :submit, value: 'Save', class: "btn btn-primary save-btn form-control" %>
                <p></p>
              </div>
            <% end %>
                <%#= link_to "Save", update_setting_path, method: :patch, class: "btn btn-primary save-btn form-control" %>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-6 hidden-xs hidden-sm">
        <div class="video-feed">
          <div class="video-content">
            <video id="settings-video" class="flex-video" autoplay=""></video>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<%= javascript_pack_tag 'settings_video' %>

