<div class="user-container">
  <div class="row">
    <div class="col-xs-12 col-md-3 vcenter">
      <div class="profile-pic vertical-padding">
        <% if @user.photo.url.nil? %>
          <%= image_tag "https://upload.wikimedia.org/wikipedia/commons/8/89/Portrait_Placeholder.png", class: "img-circle"%>
        <% else %>
          <%= cl_image_tag @user.photo, class: "img-circle"%>
        <% end %>
      </div>
    </div>
    <div class="col-xs-12 col-md-4 vcenter">
      <div class="profile-text vertical-padding">
        <h1><%= @user.first_name %> <%= @user.last_name %></h1>
        <h2 class="italics" ><%= @user.email %></h2>
      </div>
    </div>
    <div class="col-xs-12 col-md-4 vcenter">
      <div class="flex-end vertical-padding">
        <%= link_to "Edit Information", user_edit_path(@user), class: "btn btn-primary vertical-margin" %>
        <%= link_to "Delete Account", user_path(@user), class: "btn btn-danger vertical-margin", method: :delete, data: {
            confirm: "Are you sure?"
          } %>
      </div>
    </div>
  </div>
</div>

