<div id="contacts-page"></div>

<!-- CONTACTS PAGE -->
<div class="container">
  <div class="contacts-container text-color">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div class="contacts">
          <div class="contacts-header">
            <h2>Contacts</h2>
            <%= link_to add_contact_path do %>
              <i class="fas fa-plus-square"></i>
            <% end %>
          </div>
          <div class="contacts-list">
            <% current_user.contacts.each do |contact| %>
              <%= render "pages/contact", contact: contact %>
            <% end %>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-md-6 hidden-xs hidden-sm">
        <div class="video-feed">
          <div class="video-content">
            <video id="contacts-video" class="flex-video" autoplay=""></video>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- INFORMATION TO BE PASSED TO NOTIFICATIONS.JS -->
<div id="my-user-id" data-user-id="<%= current_user.id %>"></div>

<form action="/accept_call" method="post">
  <input type="hidden" id="chat-room-id" name="chat_room_id" value=""/>
  <input type="submit" id="accept-button" class="btn btn-primary" id="accept-button" style="display: none;" value="ACCEPT CALL"/>
</form>

<%= javascript_pack_tag 'notifications' %>
<%= javascript_pack_tag 'local_video' %>


